doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Administrador
        link(rel="stylesheet", href="../css/style.css")
        include ./font.pug
    body 
        include ./header.pug
        h2 Vista administrador

        main
            a(href="/createmovie")
                button Crear película 
            a(href="/editmovie")
                button Editar película
            a(href="/removemovie")
                button Eliminar película 
        
        include ./footer.pug 