doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Crear película
        link(rel="stylesheet", href="./css/style.css")
        include ./font.pug
    body 
        include ./header.pug
        main

                form(action="/createmovie" method="POST" class="createmovieform") 
                    div(class="inputs")
                        div(id="poster-preview-container")
                            img(src="", alt="poster preview" id="poster-preview" onerror="hideImg()")
                        input(id="title" type="text" name="title" placeholder="title")
                
                        input(id="poster" type="text" name="poster" placeholder="poster url")
               
                        input(id="year" type="text" name="year" placeholder="year")
                
                        input(id="director" type="text" name="director" placeholder="director")
                
                        input(id="genre" type="text" name="genre" placeholder="genre")
                
                        input(id="runtime" type="text" name="runtime" placeholder="runtime")
              
                        input(id="actors" type="text" name="actors" placeholder="actors")
                
                        input(id="ratings" type="text" name="ratings" placeholder="ratings")
              
                        input(id="opinions" type="text" name="opinions" placeholder="opinions") 

                        label(for="plot") Plot

                        textarea(id="plot" name="plot", cols="30", rows="10" placeholder="Plot") 
            
                        button(id="submit-button" type="submit") Añadir

        include ./footer.pug

        script(src="/js/createmovie.js")