doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Crear película
        link(rel="stylesheet", href="./css/style.css")
    body 
        include ./header.pug
        main
            form(action="/createmovie" method="POST") 
     
                label(for="id_movie") id movie
                input(id="id_movie" type="text" name="id_movie" placeholder="id movie")
                label(for="title") title
                input(id="title" type="text" name="Title" placeholder="title")
                label(for="poster") poster
                input(id="poster" type="text" name="Poster" placeholder="poster url")
                label(for="year") year
                input(id="year" type="text" name="Year" placeholder="year")
                label(for="director") director
                input(id="director" type="text" name="Director" placeholder="director")
                label(for="genre") genre
                input(id="genre" type="text" name="Genre" placeholder="genre")
                label(for="runtime") runtime
                input(id="runtime" type="text" name="Runtime" placeholder="runtime")
                label(for="plot") plot
                textarea(id="plot" name="Plot", cols="30", rows="10" placeholder="plot") 
                label(for="actors") actors
                input(id="actors" type="text" name="Actors" placeholder="actors")
                label(for="rating") ratings
                input(id="ratings" type="text" name="Ratings" placeholder="ratings")
                label(for="opinions")  opinions
                input(id="opinions" type="text" name="Opinions" placeholder="opinions") 
            
                button(id="submit-button" type="submit") Añadir

        include ./footer.pug

        script(src="/js/createmovie.js")