header
    h1 MOVIE APP 
        
    nav 
        a(href="http://localhost:3000")
            button home 
        form(action="/logout" method="POST")
            button(type="submit") logout
        a(href="http://localhost:3000/dashboard")
            button dashboard
        a(href="http://localhost:3000/admin")
            button admin view