header
    h1 MOVIE APP 
        h3 cabecera común a todas las vistas 
    nav 
        a(href="javascript: history.go(-1)")
            button volver 
        button logout
        a(href="./")
            button menú