header
    div(class="heading-container")
        h1
            span MOVIE
            span MOVIE
        h2 APP

    nav
        a(href="/")
            button(class="primary-button") home
        form(action="/logout" method="POST")
            button(class="primary-button" type="submit") logout
        a(href="http://localhost:3000/dashboard")
            button(class="primary-button") dashboard
        a(href="http://localhost:3000/admin")
            button(class="primary-button") admin view