doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
        link(rel="stylesheet", href="../css/style.css")
        include ./font.pug
    body

        include ./header.pug 
        main
           
            img(src="./assets/img/perropalomitas.png" alt='imagen de prueba' class="imgindex")

            form(method="POST" action="/login" class="login-form")
                input(type="text",name="email" placeholder="email")
                input(type="password", name="password" placeholder="password")
                input(type="submit", value="login") 
                    
            span(class="small-text") no tines cuenta, 
                a(href="/signup" class="small-text") registrate
            
            span(class="small-text") ¿has olvidado tu contraseña?  
                a(href="/recoverpassword" class="small-text") recupérala aquí

            

    

