doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
        link(rel="stylesheet", href="./css/style.css")
    body

        include ./header.pug 
        main
            p Bienvenido a la movieApp

            a(href="/signup")
                button.btLogin Sign up!

            img(src='/logoPug.jpg', alt='imagen de prueba', style='width: 30%; height:auto')
            form
                input(type="text", placeholder="Introduzca el email...")
                input(type="text", placeholder="Introduzca contraseña...")

                input(type="submit", value="login con email y password") 
                    
            a(href="./recupassword") recuperar contraseña

            a(href="/admin")
                button login con google

        include ./footer.pug

