doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
    body

        include ./header.pug 
        p Bienvenido a la movieApp
<<<<<<< HEAD
        button.btLogin Sign up!
=======
        a(href="./sign_up")
            button.btLogin Sign up!
>>>>>>> 018406c771fb022df5446f5a64eb38d2b14ba251
        img(src='/logoPug.jpg', alt='imagen de prueba', style='width: 30%; height:auto')
        form
            input(type="text", placeholder="Introduzca el email...")
            input(type="text", placeholder="Introduzca contraseña...")

            button login con email y password 
        a(href="./recupassword") recuperar contraseña

        button login con google

        button login con email y password 
        a(href="./recupassword") recuperar contraseña

        button login con google





        include ./footer.pug

