doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Restore password
    body 
        include ./header.pug 

        form
            label(for="password") Type in new password 
            input(type="text", id="password")
            label(for="password2") Confirm password
            input(type="text" id="password2")
            button(type="submit" value="Cambiar password") Establecer nuevo password


        include ./footer.pug