doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Restore password
    body 
        include ./header.pug 

        form
            label(for="password") Type in new password 
            input(type="text", id="password")
            label(for="password2") Confirm password
            input(type="text" id="password2")
<<<<<<< HEAD
            button(type="submit" value="Cambiar password") 
=======
            button(type="submit" value="Cambiar password") Establecer nuevo password
>>>>>>> 018406c771fb022df5446f5a64eb38d2b14ba251


        include ./footer.pug 