doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Editar película
        link(rel="stylesheet" href="../css/style.css")
        
        
    body 
        include ./header.pug 
        h2 Editar película
        main
            form(action="/editmovie", method="POST") 
                label(for="buscar") Película para editar: 
                input(type="text" id="buscar" name="buscar" placeholder="Título...")
                input(type="submit", value="Buscar")
       


        include ./footer.pug 