doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Search
        link(rel="stylesheet", href="./css/style.css")
        include ./font.pug
       
    body 
        include ./header.pug

        main
            form(id="form")
                label(for="title")
                input(type="text" id="title" name="title" placeholder="Search Movie")
                input(type="submit", value="Buscar")
                
        script(src="./js/searchMovie.js") 

        include ./footer.pug